@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Data Manager counter : @ViewBag.DataManagerCounter</p>
    <p>counter service counter is  : @ViewBag.Counter</p>
    <p>Name : @ViewBag.AppName</p>
    <p>Dev: @ViewBag.Developer</p>
    <p>UserName: @ViewBag.UserName</p>
</div>
